.header-topic {
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
}
.user {
    font-size: 14px;
    display: flex;
    position: absolute;
    right: 10px;
}
.register {
    margin-right: 5px;
}
.login {
    margin-left: 5px;
}
.topic-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    padding: 20px 30px;
}
.picture-1 {
    height: 23vh;
    width: 50vw;
    padding-right: 12px;
}
.picture-1 img {
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}
.introduction-1 {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 40vw;
}
.topic-2 {
    padding: 10px 30px;
    font-size: 18px;
}
.sub-topic-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.sub-topic-2 {
    display: flex;
    justify-content: space-between;
}
.introduction-2 {
    width: 70vw;
    padding-top: 10px;
}
.picture-2 {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: auto;
}
.introduction-3 {
    width: 70vw;
}
.picture-3 {
    display: flex;
    justify-content: flex-end;
    height: 15vh;
    width: auto;
}
.topic-3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
}
.picture-4 {
    height: 28vh;
    width: auto;
    padding-right: 30px;
}
.picture-4 img {
    height: 100%;
}
@media (max-width: 750px) {
    .sub-topic-1 {
        margin-bottom: 20px;
    }
    .topic-3 {
        padding-top: 10px;
    }
}
