body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.icon {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
    margin: 40px 0;
}
.icon-title {
    margin: 10px 0;
}
.icon-title > img{
    width: 150px;
    border-radius: 999em;
}
.user-data {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
    padding: 20px 0;
}
.user-login-pw {
    display: flex;
    flex-direction: column;
}
.user-login-pw input {
    background: #e3f5ff;
    border: none;
    border-bottom: solid 1px black;
    margin: 5px 0;
    width: 291px;
}
.user-login-button {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    cursor: pointer;
}
.login-button-color {
    background: #73bb68;
    color: white;
    padding: 4px 28px;
    cursor: pointer;
    border: none;
}
.forget-pw-button-color {
    background: #ff7474;
    color: white;
    padding: 4px 15px;
}
.signUp-button-color {
    display: flex;
    justify-content: center;
    margin: 0 0 30px 0;
}
.signUp-color {
    background: #84edda;
    padding: 4px 45px;
    cursor: pointer;
}
.other-login-title {
    display: flex;
    justify-content: center;
}
.other-login-title-color {
    color: #f26c6c;
    font-weight: bold;
    font-size: 18px;
    margin: 0 0 20px 0;
}
.other-login-button {
    display: flex;
    justify-content: space-around;
}
.socials-ignited {
    color: #ffffff;
    background: #afafaf;
    font-size: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}
.socials-ignited:hover {
    color: #ffffff;
    background: #161616;
    text-decoration: none;
}
.showWrongMessage {
    height: 30px;
    font-size: 14px;
    font-weight: 700;
    color: #ff7474;
    display: flex;
    justify-content: center;
    align-items: center;
}
.forget-password {
    width: 88px;
    height: 32px;
    background: #73bb68;
    color: white;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
