.banner-background-color {
    background: #c6e3ff;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: center;
    padding: 15px;
}
.banner-background-color-other {
    background: #c6e3ff;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
}
.banner-background-color-alternative {
    background: #c6e3ff;
    color: rgb(85, 85, 85);
    display: flex;
    justify-content: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 15px;
}
.banner-background {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    position: sticky;
    top: 0;
    height: 50px;
}
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #c6e3ff;
    color: rgb(85, 85, 85);
    display: flex;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bottom-bar div {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
}
a {
    text-decoration: none !important;
    color: rgb(85, 85, 85);
}
.bottom-bar div a div {
    width: 100%;
    display: flex;
    justify-content: center;
}
.bottom-bar i {
    font-size: 40px;
}
.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.flexCenter {
    display: flex;
    justify-content: center;
}
