.group-data {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.user-data {
    display: flex;
    align-items: center;
}
.group-data-chat-receive .group-icon {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    background: #84edda;
    margin: 5px 5px 5px 15px;
}
.user-icon {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    background: #84edda;
    margin: 5px 5px 5px 15px;
}
.group-name-message-icon {
    margin: 5px;
}
.group-name-message {
    margin: 5px;
    display: flex;
}
.user-name-message {
    margin: 5px;
}
.group-name {
    font-size: 16px;
}
.user-name {
    font-size: 16px;
}
.group-message-new {
    color: #00e817;
    font-size: 14px;
}
.user-message-new {
    color: #00e817;
    font-size: 14px;
}
.group-data-chat-receive {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    padding: 3px 0;
}
.user-chat-receive {
    align-items: center;
    padding: 3px 0;
	display: flex;
}
.group-data-chat-send {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 0;
}
.user-chat-send {
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding: 3px 0;
}
.message-time {
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
    font-size: 8px;
}
.group-data-chat-send .group-icon {
    height: 40px;
    width: 40px;
    border-radius: 80px;
    background: #84edda;
    margin: 5px 15px 5px 5px;
}
.chat-area {
    height: 85vh;
    overflow-y: auto;
}
