.display-by {
    font-size: 20px;
    padding: 0;
}
.btn {
    background: white;
}
.display-format-btn {
    position: sticky;
    top: 50px;
}
.icon-small {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.icon-medium {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.select-friend {
    padding: 10px;
    border-bottom: 2px solid;
    border-color: gray;
    display: flex;
}
.select-friend-info {
    margin-left: 10px;
}
.find-icon-margin {
    margin: 20px;
}
.main-container {
    margin-bottom: 80px;
}
.select-friend-container-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gender-age {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
    width: 70px;
}
.gender-age-other {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
}
.display-name {
    font-size: 20px;
}
.display-username {
    font-size: 20px;
    font-weight: 500;
    margin-left: 5px;
}
#googleMap {
    margin-top: 20px;
}
.gm-style img {
    max-width: 100%;
    margin-bottom: 8px;
}
.info-flex {
    display: flex;
    justify-content: space-between;
}
.gm-style .gm-style-iw-d {
    width: 200px;
    max-height: 250px !important;
}
