body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.recording {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
#recordButton {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    border-radius: 50px;
    background: #47aadf;
}
#stopButton {
    align-items: center;
    justify-content: center;
    display: flex;
    width: 300px;
    border-radius: 50px;
    background: #ffb0b0;
}
.instruction {
    color: #ffffff;
}
.recording-logo {
    height: 30px;
    width: 30px;
    border-radius: 60px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-XXsmall {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.empty-chat {
    padding: 50px;
    margin: 30px;
    background: rgb(194, 233, 255);
    display: flex;
    justify-content: center;
    text-align: center;
}
audio {
    height: 22px;
    width: 200px;
}
