.display-by {
    font-size: 20px;
    padding: 0;
}
.btn {
    background: white;
}
.display-format-btn {
    position: sticky;
    top: 50px;
}
.icon-medium {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    background: white;
    object-fit: cover;
    margin: 0 10px;
}
.select-friend {
    padding: 10px;
    margin: 5%;
    border: 5px solid;
    border-radius: 15px;
    border-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    background: rgb(251, 233, 252);
}
.find-icon-margin {
    margin: 20px;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}
.gender-age {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
    width: 70px;
}
.display-name {
    font-size: 20px;
}
.reject-record {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.reject-record a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ffffff;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
.display-by {
    width: 50%;
}
.fa-times {
    color: red;
}
.fa-microphone {
    color: rgb(62, 151, 62);
}
