.icon-small {
    border: 5px solid;
    border-color: pink;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: white;
    object-fit: cover;
}
.col-6 {
    position: unset;
}
.main-container {
    margin-bottom: 80px;
}
.user-info-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
    font-size: 20px;
    border: 0px;
    border-bottom: 3px;
    border-style: solid;
    border-color: gray;
}
.gender-age {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
    width: 70px;
}
.basic-info {
    margin-left: 10px;
}
.update-btn {
    width: 100px;
}
.savor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.savor div {
    margin: 5px;
}
.display-none {
    display: none;
}
.set-savor {
    border: solid 1px black;
    padding: 0 10px;
}
.set-savor:hover {
    color: white;
    background: black;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    color: red;
}
.logout-btn {
    margin-bottom: 10px;
    width: 100px;
    color: #ffffff;
}
.flexCenter {
    position: relative;
}
.successUpdate {
    position: relative;
    top: -30px;
    left: 120px;
    height: 30px;
}
